$blue-color: #5458ea;
$white-color: #ffffff;
$error-color: #f34545;

@mixin Typography {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
}

@mixin AlignmentBgImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auth {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .authBg {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/authBg.png");
    @include AlignmentBgImg();

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        $white-color 100%
      );
    }

    &::before {
      background-image: url("../../../assets/images/shoppingCart.svg");
      @include AlignmentBgImg();
      width: 231px;
      height: 258px;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }

  .authForm {
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      width: 335px;

      .usernameInput {
        margin-bottom: 47px;
      }

      .passInput {
        margin-bottom: 16px;
      }

      .forgotPassLink {
        margin-top: 16px;
        text-decoration: none;
        color: $blue-color;
        cursor: pointer;

        @include Typography();
      }

      .loginDefaultButton {
        width: 100%;
        margin-top: 50px;
        padding: 10px;
      }

      .loginButton {
        width: 100%;
        padding: 10px;
        background-color: $blue-color;
        color: $white-color;
      }

      .signUpLink {
        text-decoration: none;

        .signUpButton {
          margin-top: 183px;
          width: 100%;
          padding: 10px;
          background-color: transparent;
          color: $blue-color;

          @include Typography();
        }
      }
    }
  }
}
